<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="drds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
		<property name="username" value="system"/>
		<property name="password" value="AdminPrashant"/>
	</bean>

    <bean id="custDAO" class="in.prashant.dao.CustomerDAOImpl">
		<constructor-arg name="ds" ref="drds"/>
	</bean>

    <bean id="custService" class="in.prashant.service.CustomerMgmtServiceImpl">
		 <constructor-arg name="dao" ref="custDAO"/>
	</bean>

    <bean id="controller" class="in.prashant.controller.MainController">
		<constructor-arg name="service" ref="custService"/>
	</bean>


</beans>